@media only screen and (max-width:770px) {
    .mobile-content {
        position: absolute;
        top: 55%;
        left: 8%;
        transform: translateY(-50%);
        float: none;
      }
      
      .mobile-content h4 {
        color: #363636;
        letter-spacing: 2px;
        font-size: 15px;
        float: none;
      }
      
      .mobile-content h1 {
        color: #363636;
        font-size: 30px;
        margin: 18px 0 19px;
        float: none;
      }
      
      .mobile-content h3 {
        color: #363636;
        font: 23px;
        margin-bottom: 50px;
        float: none;
      }
      
      .mobile-content a {
        font-size: 20px;
        background-color: rgb(169, 115, 202);
        color: rgb(255, 255, 255);
        display: inline-block;
        padding: 10px 30px;
        border-radius: 30px;
        border: 2px solid rgb(187, 182, 190);
        text-decoration: none;
        box-shadow: none;
        float: none;
      }
      
      .mobile-content a:hover {
        text-decoration: none;
        border: 2px solid rgb(204, 0, 255);
        float: none;
      }
      
      .mobile-content image {
        width: 50%;
        height: 67%;
        position: absolute;
        bottom: 0;
        right: 130px;
        transform: rotateY(180deg);
        float: none;
      }
}