body {
    padding-top: 56px;
}

.navbar {
    transition: top 0.5s ease-in-out;
}

.nav-link {
    margin-right: 50px;
}

.navbar-nav {
    margin-right: 20px;

    }

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
